/* Header styling */

header {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: var(--secondary-color);
  padding-top: 3rem;
}

/* input section styling */

.task-input-parent {
  padding: 4rem 0rem;
}

.form-container {
  gap: 1.5rem;
  flex-grow: 1;
}

.task-input-field {
  padding: 0.5rem 1rem;
  flex-basis: 20%;
}

.task-input-field:focus {
  outline: 2px solid var(--active-color);
}

.task-input-submit {
  padding: 0.3rem 2rem;
}

.form-container select {
  padding: 0.1rem 2rem;
}

/* task list styling */

.task-list-parent {
  font-family: "Source Sans 3", sans-serif;
  padding: 4rem;
}

.task-list {
  width: 40%;
}

.task {
  gap: 1rem;
  font-family: "Source Sans 3", sans-serif;
  align-items: center;
  color: var(--text-color);
}

.task-name {
  flex-grow: 1;
  font-size: 2.5rem;
}

.task-delete {
  cursor: pointer;
  font-size: 2rem;
}

.task-checkbox {
  cursor: pointer;
  background-color: var(--text-color);
  appearance: none;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

.task-checkbox:hover {
  border: 2px solid var(--active-color);
}

.task-checkbox:checked {
  background-color: var(--secondary-color);
}

/* Filter box styles */

.filters-parent {
  font-size: 1.5rem;
  font-family: "Source Sans 3", sans-serif;
  color: var(--text-color);
  font-weight: 500;
}

.filters-content-container {
  width: 38%;
  padding: 0.5rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.filters-content-container span {
  cursor: pointer;
}

.filters-content-container span:hover {
  color: var(--active-color);
}

/* Media Queries */

/* Mobile view */
@media screen and (max-width: 428px) {
  header {
    font-size: 2rem;
  }

  .task-input-parent {
    font-size: 1rem;
  }

  .task-input-parent > :first-child {
    flex-direction: column;
  }

  .task-list {
    width: 100%;
  }

  .task {
    width: 100%;
  }

  .task-name {
    flex-grow: 1;
    font-size: 1.3rem;
  }

  .filters-parent {
    font-size: 1rem;
  }

  .filters-content-container {
    width: 90%;
  }
}
