/* Importing Fonts */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Source+Sans+3:wght@400;500&display=swap");

/* CSS Reset */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color variables */

:root {
  --background-color: #1e1e1e;
  --secondary-color: #a08a7f;
  --text-color: white;
  --active-color: #636b60;
}

/* Flexbox classes */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: col;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* universal styles */

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* Reusable class for input fields */

.input-field {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 5px;
}
